.mySwiper {
  width: 100%;
  max-width: 1200px;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
}
