@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "PEPPERS";
  src: url("../webfonts/PEPPERS_Bold.ttf") format("truetype");
}

/* --- 초기화 및 공통 스타일 --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  color: #111;
  background: #f1f1f5;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  min-width: 1400px; /* PC 최소 너비 보장 */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- 헤더 (Header) --- */
.header {
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 9999;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.header .logo a,
.header .right-icons {
  display: flex;
  align-items: center;
  z-index: 20;
}

.header .right-icons {
  gap: 25px;
}

/* GNB 메뉴 */
.gnb-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.gnb {
  display: flex;
}

.gnb li {
  width: 180px;
  text-align: center;
}

.gnb li a {
  font-family: "PEPPERS";
  font-size: 20px;
  color: #111;
  line-height: 80px;
  display: block;
}

/* 드롭다운 메뉴 */
.full-dropdown {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  display: none;
  padding: 8px 0 60px 0;
  text-align: center;
}

.header:hover .full-dropdown {
  display: block;
}

.dropdown-inner {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.menu-list-group {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.sub-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 180px;
  align-items: center;
}

.sub-list li {
  width: 100%;
}

.sub-list li a {
  font-family: "Pretendard";
  font-size: 17px;
  color: #555;
  font-weight: 500;
  transition: all 0.2s;
  display: block;
}

.sub-list li a:hover {
  color: #cf4844;
  text-decoration: underline;
  font-weight: 700;
}

/* 메인 배너 슬라이더  */
.main-slider {
  width: 100%;
  overflow: visible;
  position: relative;
  margin-top: 50px;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.slide1 h1,
.slide2 h1 {
  margin: 0;
  white-space: nowrap;
}

/* 슬라이드 1 스타일 */
.slide1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1824px;
  height: 500px;
  padding: 30px 300px;
  gap: 100px;
  border-radius: 32px;
  background: linear-gradient(90deg, #ffe5e5 0%, #ff8f8f 100%);
}

.slide1 .txt1 {
  font-family: "Pretendard";
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -4.2px;
}

.slide1 .txt2 {
  font-family: "PEPPERS";
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
}

.slide1 .btn {
  font-family: "Pretendard";
  font-size: 28px;
  font-weight: 400;
  border-radius: 100px;
  border: 1px solid #000;
  display: flex;
  width: 320px;
  height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
}

/* 슬라이드 2 스타일 */
.slide2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1824px;
  height: 500px;
  padding: 30px 200px 30px 200px;
  gap: 100px;
  border-radius: 32px;
  background-color: #fff;
  border: 1px solid #eee;
}

.slide2 .txt1 {
  color: #666;
  font-family: "Pretendard";
  font-size: 38px;
  font-weight: 600;
  letter-spacing: -3.8px;
}

.slide2 .txt2 {
  color: #cf4844;
  font-family: "PEPPERS";
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -2.2px;
}

.slide2 .btn {
  background-color: #fff;
  color: #cf4844;
  border: 2px solid #cf4844;
  font-family: "Pretendard";
  font-size: 28px;
  font-weight: 700;
  border-radius: 100px;
  display: flex;
  width: 320px;
  height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
}

.phoneImg {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide1 .phoneImg img {
  height: 480px;
  width: auto;
  margin-top: 20px;
}

.slide2 .phoneImg img {
  height: 320px;
  width: auto;
}

/* 슬라이더 버튼 */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 20px;
}
.prev-btn {
  left: 50px;
}
.next-btn {
  right: 50px;
}

/* 퀵 메뉴 */
.quick-menu {
  display: flex;
  width: 721px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  background: #cf4844;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.quick-menu ul {
  display: flex;
  gap: 26px;
}

.quick-menu ul li {
  border-right: 1px solid #ff9494;
  padding-right: 26px;
  line-height: 25px;
}

.quick-menu ul li:last-child {
  border-right: none;
  padding-right: 0;
}

.quick-menu ul li a {
  color: #fff;
  font-family: "PEPPERS";
  font-size: 25px;
}

/*  */

.info {
  width: 100%;
  max-width: 1820px;
  margin: 150px auto;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}

.left-txt {
  width: 450px;
  flex-shrink: 0;
  position: relative;
  padding-top: 50px;
}

.left-txt h1 {
  color: #000;
  font-family: "PEPPERS";
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.left-txt .line {
  display: block;
  width: 430px;
  height: 18px;
  background: #fbc3c3;
  position: absolute;
  top: 170px;
  left: -10px;
  z-index: -1;
}

.left-txt h3 {
  color: #000;
  font-family: "Pretendard";
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
  letter-spacing: -1.2px;
}

.left-txt p {
  color: #000;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1.2px;
}

.hand {
  width: 270px;
  height: 270px;
  position: absolute;
  bottom: -250px;
  right: -50px;
  z-index: 1;
  margin: 0;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.hand img {
  animation: floating 2.5s ease-in-out infinite;
}

.right-zone {
  flex: 1;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.tab-header {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  position: relative;
  z-index: 50;
}

.tab-btn {
  background: none;
  border: none;
  font-family: "PEPPERS";
  font-size: 28px;
  color: #aaa;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s;
}

.tab-btn.active {
  color: #cf4844;
  font-weight: 700;
  border-bottom: 4px solid #cf4844;
}

.tab-content {
  display: none;
  width: 100%;
}

.tab-content.active {
  display: block;
  animation: fadeIn 0.5s ease;
}

.card-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.Rcard {
  width: 32%;
  min-width: 300px;
  height: 520px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px 50px 50px 20px;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.Rcard:hover {
  transform: translateY(-5px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Rcard .badge {
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #000;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

.Rcard h2 {
  font-family: "PEPPERS";
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
  line-height: 1.2;
  letter-spacing: -2.4px;
}

.Rcard ul.loanCard {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Rcard ul li {
  text-align: left;
}

.Rcard ul li span {
  color: #000;
  font-family: "Pretendard";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -1.2px;
}

.Rcard ul li:first-child {
  font-size: 20px;
  color: #666;
  line-height: 1.5;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  letter-spacing: -1.2px;
}

.Rcard ul li:nth-child(2) {
  font-size: 30px;
  font-weight: 800;
  color: #cf4844;
  margin-top: auto;
  margin-bottom: -10px;
  letter-spacing: -2.4px;
}

.Rcard ul li:nth-child(3) {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: -1.2px;
}

.Rcard a {
  width: 100%;
  margin-top: 20px;
}

.Rcard h5 {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background: #cf4844;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.card-pagination {
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.dot.active {
  background-color: #cf4844;
  width: 30px;
  border-radius: 10px;
}

/* ESG 섹션 */

.esg-section {
  background-color: #fff;
  padding: 100px 0;
  text-align: left;
  width: 100%;
  font-family: "Pretendard";
}

.esg-section h3 {
  font-family: "PEPPERS";
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 80px;
  color: #000;
  text-align: center;
}

.esg-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1820px;
  width: 100%;

  margin: 0 auto;
  gap: 0;
}

.esg-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
  border-right: 1px solid #cf4844;
  box-sizing: border-box;
}

.esg-item:last-child {
  border-right: none;
}

.esg-item img {
  width: 100%;
  max-width: 380px;
  height: auto;
  margin-bottom: 20px;
}

.esg-item span {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.esg-item h4 {
  font-family: "PEPPERS";
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #000;
}

.esg-item ul {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
  color: #111;
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  word-break: keep-all;
}

.esg-item a {
  display: inline-block;
  padding: 15px 60px;
  border: 2px solid #cf4844;
  border-radius: 50px;
  color: #cf4844;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  background: #fff;
  transition: all 0.3s;
  margin-top: auto;
}

.esg-item a:hover {
  background: #cf4844;
  color: #fff;
}

/* 뉴스 섹션 */
.news-section {
  background-color: #f5f6f8;
  padding: 100px 0;
  overflow: hidden;
}

.news-section h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1550px;
  margin: 0 auto 60px auto;
  font-family: "Pretendard";
  font-size: 56px;
  font-weight: 800;
}
.news-section h3::before,
.news-section h3::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #dbdbdb;
}

.news-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.news-card {
  width: 500px;
  height: 200px;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}
.news-card:hover {
  transform: translateY(-5px);
}

.news-card h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  width: 90%;
}
.news-card .date {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #ccc;
  font-size: 14px;
}
.news-card a {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}

/* 푸터 (Footer) */
footer {
  background-color: #4b4b4b;
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  border-bottom: 1px solid #5d5d5d;
  padding: 20px 0;
}

.footer-links ul {
  display: flex;
  justify-content: center;
}
.footer-links li a {
  color: #fff;
  font-weight: 700;
  margin: 0 15px;
  font-size: 14px;
}
.footer-links li::after {
  content: "|";
  color: #888;
  font-size: 12px;
}
.footer-links li:last-child::after {
  display: none;
}

.company-info {
  padding: 40px 0 60px 0;
  color: #999;
  font-size: 14px;
  line-height: 1.6;
}
.company-info .copyright {
  margin-top: 15px;
  font-size: 13px;
  color: #777;
}
