@charset "utf-8";
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Pretendard;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Pretendard", sans-serif;
}

body {
  position: relative;
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;

  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}
header.on {
  background: #fff;
}
header .menu a.on {
  color: #000;
}
header .menu {
  width: 800px;
  margin: 0 auto;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
}
/* header::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.164);
  z-index: 3;
} */

header h1 a {
  font-weight: 800;
  font-size: 32px;
}

header > p {
  font-family: "Pretendard";
  margin: 0 auto;
  color: #fff;
}

.gnb ul {
  display: flex;
  gap: 40px;
}

.gnb ul a {
  font-weight: 600;
  color: #fff;
}
.visual {
  position: relative;
  height: 100vh;
}
.visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.txt1 {
  position: absolute;
  left: 25%;
  top: 450px;
  z-index: 5;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 3vw;
  font-weight: 700;
  line-height: 1.3;
  justify-content: center;
  align-content: center;
}
.visual .visual_main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vis_btn {
  position: absolute;
  left: 25%;
  top: 650px;
  z-index: 5;
  display: flex;
  gap: 10px;
}

.vis_btn p img {
  width: 200px;
  height: auto;
}

.service {
  position: relative;
  justify-content: center;
  align-items: center;
}

.txt2 {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

.txt2 h5 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
}

.txt2 h3 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  color: #333;
  letter-spacing: -2px;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
  padding-bottom: 100px;
}

.service > div {
  width: 300px;
}

.img1 {
  margin: 0 auto;
  width: 288px;
  height: 288px;
}
.img1 img {
  width: 100%;
  height: 100%;
  display: block;
}

.txt3 h4 {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.txt3 p {
  font-size: 15px;
  margin-top: 5px;
  line-height: 1.5;
  color: #414141;
}

.survey {
  position: relative;
  width: 1432px;
  height: 362px;
  margin: 80px auto;
  background-image: url("../images/main_survey.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
}

.survey::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.survey h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  margin-left: 150px;
}
.survey h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  margin-left: 150px;
}
.survey > p {
  color: #fff;
  border: 1px solid #fff;
  width: 200px;
  height: 30px;
  margin-left: 350px;
  padding: 10px 0;
  text-align: center;
  z-index: 3;
  margin-left: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  max-width: 1432px;
  margin: 80px auto;
  padding: 0 50px;
}

.info h2 {
  font-size: 18px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 50px;
  color: #333;
}

.info ul li h4 {
  font-size: 18px;
  font-weight: 700;
  color: #525252;
  margin-bottom: 10px;
}

.info ul li p {
  color: #686868;
}

.info ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.info ul li {
  width: calc(25% - 22.5px);
  text-align: left;
}

.info ul li:nth-child(1) {
  margin-top: 0px;
}
.info ul li:nth-child(2) {
  margin-top: 35px;
}
.info ul li:nth-child(3) {
  margin-top: -30px;
}
.info ul li:nth-child(4) {
  margin-top: -50px;
}

.info ul li .img-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}

.info ul li:nth-child(1) .img-wrap {
  height: 560px;
}
.info ul li:nth-child(2) .img-wrap {
  height: 300px;
}
.info ul li:nth-child(3) .img-wrap {
  height: 436px;
}
.info ul li:nth-child(4) .img-wrap {
  height: 560px;
}

.info ul li .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
  will-change: transform;
  transform: translateZ(0);
}

.info ul li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.info ul li .quote {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  padding: 20px;
}

.info ul li .img-wrap:hover img {
  /* transform: scale(1.05); */
  transform: scale(1.0501);
}

.info ul li .img-wrap:hover .overlay {
  opacity: 1;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .share_img {
  margin-right: 120px;
}

.share_img img {
  width: 530px;
  height: 430px;
  display: block;
  object-fit: cover;
} */

.share_img {
  margin-right: 100px;
  width: 600px;
  height: 450px;

  overflow: hidden; /* ⭐ 액자 효과 */
  position: relative; /* 내부 이미지의 위치 기준이 됩니다. */
}

.share_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1.1);
  will-change: transform;
  transition: transform 0.6s cubic-bezier(0, 0, 0, 1);
}
.txt4 {
  flex-direction: column;
  padding: 0 20px;
}

.txt4 h3 {
  padding: 20px 0;
  color: #222;
  letter-spacing: -1px;
}

.txt4 h1 {
  color: #222;
  padding: 20px 0;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.txt4 > p {
  font-size: 18px;
  color: #525252;
  border: 1px solid #333;
  width: 200px;
  height: 30px;
  padding: 10px 0;
  text-align: center;
  z-index: 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt4 > p:hover {
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease;
}

.main-footer {
  width: 100%;
  height: 300px;
  background-color: #000;
  margin-top: 50px;
  color: #fff;
  padding: 30px 50px;
}
