@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@font-face {
  font-family: "SeoulNotice";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}
header.active {
  top: -200px;
  transition: 0.5s 0.5s;
}
header.on {
  height: 400px;
  background: #fff;
}

header .headwrap.on {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;
}

header .head {
  width: 1480px;
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0 auto;
}
header .logo {
  width: 132px;
  height: 42px;
  background-image: url(../images/logo.png);
  background-size: cover;
}
header .logo.on {
  background-position: 0 45px;
}
header nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .main_menu {
  display: flex;
  /* gap: 80px; */
  width: 800px;
}

header nav .main_menu > li {
  position: relative;
  flex: 1;
  height: 100px;
  line-height: 100px;
}

header nav .main_menu > li > a {
  color: #fff;
  font-size: 18px;
}
header nav .main_menu > li .sub {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  left: 0;
  top: 100px;
  white-space: nowrap;
  /* background: #fff; */
  padding-top: 50px;
  box-sizing: border-box;
}
header nav .main_menu > li .sub li {
  line-height: 30px;
}
header nav .main_menu > li .sub li a {
  line-height: 30px;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  font-family: "SeoulNotice";
  font-weight: 500;
  font-size: 35px;
}

.data {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.content2 {
  position: absolute;
  top: 50%;
  left: 15%;
  text-align: left;
  color: white;
  z-index: 1;
  font-family: "SeoulNotice";
  font-weight: 500;
  font-size: 30px;
}

.content2 h3 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content3 {
  position: absolute;
  bottom: 1%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 20px 0;
  color: white;
}

.number1 {
  text-align: center;
  margin: 0 40px;
}

.number1 h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.number1 h1 {
  font-size: 70px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.number1 p {
  font-size: 14px;
  font-weight: normal;
}

/**/

.wrap-con {
  margin-top: 100px !important;
  position: relative !important;
  z-index: 99 !important;
}

.wrap-con > h3 {
  color: #333 !important;
  margin-top: 0 !important;
  margin-bottom: 50px !important;
  font-size: 30px !important;
  text-align: center !important;
  display: block !important;
}

ul.yb li .txt h3 {
  font-size: 20px;
  font-weight: normal;
  color: #666;
}
ul.yb li .txt h1 {
  font-size: 40px;
  font-weight: 10px;
  line-height: 1.2;
  font-weight: 400;
}
ul.yb li .txt h2 {
  font-size: 36px;
  font-weight: bold;
  color: #ffc107;
}

ul.yb {
  width: 95%;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
ul.yb li {
  display: flex;
  gap: 104px;
  align-items: center;
  height: 440px;
}
ul.yb li .txt {
  width: 440px;
}
ul.yb li p {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

ul.yb li .txt {
  width: 440px;
  flex-shrink: 0;
}
ul.yb li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul.yb li:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  ul.yb li {
    height: auto;
  }
  ul.yb li p {
    width: 60%;
    height: auto;
  }
  ul.yb li .txt {
    width: 30%;
  }
  ul.yb li .txt h3 {
    font-size: 16px;
  }
  ul.yb li .txt h1 {
    font-size: 24px;
  }
  ul.yb li .txt h2 {
    font-size: 24px;
  }
  ul.yb li:nth-child(even) {
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  ul.yb li {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  ul.yb li:nth-child(even) {
    flex-direction: column;
  }

  ul.yb li p {
    width: 100%;
  }
  ul.yb li .txt {
    width: 100%;
  }
}

/**/

.yellow-trip > h3 {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  font-family: "SeoulNotice";
}

.trip {
  list-style: none;
  width: 1480px;
  height: 500px;
  margin: 30px auto;
  display: flex;
  gap: 16px;
}
.trip li {
  flex: 1; /*flex: flex-gro flex-shrink flex-basis*/
  height: 100%;
  border-radius: 12px;
  background-position: center;
  transition: 1s;
}
.trip li:hover {
  flex: 2;
  color: #000;
}

.trip li:nth-child(1) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_1.jpg);
}
.trip li:nth-child(2) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_2.jpg);
}
.trip li:nth-child(3) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_3.jpg);
}
.trip li:nth-child(4) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_4.jpg);
}
.trip li:nth-child(5) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_5.jpg);
}
.trip li:nth-child(6) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_6.jpg);
}
.trip li:nth-child(7) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_7.jpg);
}
.trip li:nth-child(8) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_8.jpg);
}

.trip > li > p {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}
/*여기부터*/
.news-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1480px;
  margin: 30px auto;
  padding: 0 20px;
}

.right-area {
  width: 75%;
  border-top: 2px solid #000;
}

.left-area h3 {
  font-family: "SeoulNotice";
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

.left-area .more-btn {
  font-size: 16px;
  color: #000;
}

.right-area {
  width: 75%;
}

.right-area li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
}

.right-area li p {
  flex: 1;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-area li span {
  font-size: 14px;
  color: #888;
}

footer {
  border-bottom: none;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}
.f-menu {
  display: flex;
  align-items: center;
  gap: 0;
}

.f-menu li {
  position: relative;
  padding: 0 15px;
  font-size: 13px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

.f-menu li:first-child {
  padding-left: 0;
}

.f-menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #ddd;
}

.f-menu li.bold {
  font-weight: 800;
  color: #4567ad;
}

.f-sns {
  display: flex;
  gap: 10px;
}

.f-sns li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #222;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
}

.yellow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
  font-size: 15px;
}

.yellow img {
  display: block;
  height: 10px;
}

.yellow p {
  margin: 0;
}

.yellow p:first-child {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  letter-spacing: -0.5px;
}

section.foot {
  margin-top: 0;
  padding-top: 20px;
  font-size: 12px;
  margin-bottom: 0;
  margin-bottom: 10px;
}

.foot-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.company-info {
  width: 65%;
  border-right: 1px solid #ddd;
}

.company-info span {
  color: #ddd;
  margin: 0 8px;
}

.company-info p,
.contact-info p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.company-info p:last-child,
.contact-info p:last-child {
  margin-bottom: 0;
}

.biz-btn {
  text-decoration: underline;
  font-weight: bold;
  color: #333;
  margin-left: 5px;
}

.contact-info {
  width: 33%;
  padding-left: 30px;
}

.contact-info p span {
  display: inline-block;
  width: 80px;
  font-weight: bold;
  color: #555;
}

.awards {
  text-align: center;
  margin-bottom: 30px;
}
.awards img {
  max-width: 100%;
}
.copyright {
  text-align: left;
  color: #333;
}

@media screen and (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
  }
  .section,
  header,
  footer {
    width: 100%;
    overflow: hidden;
  }

  .wrap-con {
    margin-top: 0 !important;
    padding-top: 120px !important;

    position: relative !important;
    z-index: 999 !important;

    background-color: #fff !important;
    width: 100%;
  }

  .wrap-con > h3 {
    color: #333 !important;
    display: block !important;
    text-align: center !important;

    margin-bottom: 50px !important;
    margin-top: 0 !important;
  }

  .content {
    width: 90%;
    font-size: 24px !important;
    line-height: 1.4;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content h1 {
    white-space: nowrap;
  }

  .content2 {
    top: 10%;
    left: 5%;
    width: 90%;
  }
  .content2 h3 {
    font-size: 20px !important;
    line-height: 1.5;
  }

  .content3 {
    flex-direction: column;
    height: auto;
    bottom: 5%;
    gap: 30px;
  }

  .number1 {
    margin: 0;
  }

  .number1 h1 {
    font-size: 40px !important;
    margin: 5px 0;
  }
  .number1 h3 {
    font-size: 14px;
  }

  .news-container {
    flex-direction: column;
    margin: 30px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .left-area {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .left-area h3 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .right-area {
    width: 100%;
    border-top: 2px solid #000;
  }

  .right-area li {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
    gap: 5px;
  }

  .right-area li p {
    font-size: 15px;
    white-space: normal;
    line-height: 1.4;
    padding-right: 0;
    width: 100%;
  }
  .right-area li span {
    align-self: flex-end;
    font-size: 12px;
  }

  .footer-inner,
  .info-container {
    flex-direction: column !important;
    width: 100% !important;
    height: auto !important;
    gap: 20px;
  }

  .f-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    line-height: 2;
  }

  .f-sns {
    justify-content: center;
    margin-bottom: 10px;
  }

  .company-info,
  .contact-info {
    width: 100% !important;
    border: none !important;
    padding: 0 !important;
    text-align: center;
  }

  .company-info span,
  .contact-info span {
    display: none;
  }

  .company-info p {
    word-break: keep-all;
    margin-bottom: 15px;
  }

  .awards {
    margin-top: 20px;
  }

  .copyright {
    text-align: center;
  }
  .trip {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 10px !important;

    height: auto !important;
    padding: 0 20px !important;
    margin: 30px auto !important;
    width: 100% !important;
    box-sizing: border-box !important;
  }

  .trip li {
    flex: 0 0 calc(50% - 6px) !important;
    width: calc(50% - 6px) !important;
    max-width: calc(50% - 6px) !important;
    height: 180px !important;
    border-radius: 12px !important;
    margin: 0 !important;
  }

  .trip li:hover {
    flex: 0 0 calc(50% - 6px) !important;
    width: calc(50% - 6px) !important;
  }

  .trip > li > p {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
    font-size: 18px !important;
  }
  .info-container,
  .awards {
    display: none !important;
  }

  .news-container {
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .trip {
    margin: 20px auto !important;
  }

  .footer-inner {
    gap: 10px;
    padding: 15px 0;
  }
}

.data {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
