@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@font-face {
  font-family: "SeoulNotice";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}
header.active {
  top: -200px;
  transition: 0.5s 0.5s;
}
header.on {
  height: 400px;
  background: #fff;
}

header .headwrap.on {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;
}

header .head {
  width: 1480px;
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0 auto;
}
header .logo {
  width: 132px;
  height: 42px;
  background-image: url(../images/logo.png);
  background-size: cover;
}
header .logo.on {
  background-position: 0 45px;
}
header nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .main_menu {
  display: flex;
  /* gap: 80px; */
  width: 800px;
}

header nav .main_menu > li {
  position: relative;
  flex: 1;
  height: 100px;
  line-height: 100px;
}

header nav .main_menu > li > a {
  color: #fff;
  font-size: 18px;
}
header nav .main_menu > li .sub {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  left: 0;
  top: 100px;
  white-space: nowrap;
  /* background: #fff; */
  padding-top: 50px;
  box-sizing: border-box;
}
header nav .main_menu > li .sub li {
  line-height: 30px;
}
header nav .main_menu > li .sub li a {
  line-height: 30px;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  font-family: "SeoulNotice";
  font-weight: 500;
  font-size: 35px;
}

.data {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.content2 {
  position: absolute;
  top: 50%;
  left: 15%;
  text-align: left;
  color: white;
  z-index: 1;
  font-family: "SeoulNotice";
  font-weight: 500;
  font-size: 30px;
}

.content2 h3 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content3 {
  position: absolute;
  bottom: 1%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 20px 0;
  color: white;
}

.number1 {
  text-align: center;
  margin: 0 40px;
}

.number1 h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.number1 h1 {
  font-size: 70px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.number1 p {
  font-size: 14px;
  font-weight: normal;
}

/**/

.wrap-con {
  margin-top: 300px;
}

.wrap-con > h3 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 30px;
  font-family: "SeoulNotice";
}

ul.yb li .txt h3 {
  font-size: 20px;
  font-weight: normal;
  color: #666;
}
ul.yb li .txt h1 {
  font-size: 40px;
  font-weight: 10px;
  line-height: 1.2;
  font-weight: 400;
}
ul.yb li .txt h2 {
  font-size: 36px;
  font-weight: bold;
  color: #ffc107;
}

ul.yb {
  width: 95%;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
ul.yb li {
  display: flex;
  gap: 104px;
  align-items: center;
  height: 440px;
}
ul.yb li .txt {
  width: 440px;
}
ul.yb li p {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

ul.yb li .txt {
  width: 440px;
  flex-shrink: 0;
}
ul.yb li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul.yb li:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  ul.yb li {
    height: auto;
  }
  ul.yb li p {
    width: 60%;
    height: auto;
  }
  ul.yb li .txt {
    width: 30%;
  }
  ul.yb li .txt h3 {
    font-size: 16px;
  }
  ul.yb li .txt h1 {
    font-size: 24px;
  }
  ul.yb li .txt h2 {
    font-size: 24px;
  }
  ul.yb li:nth-child(even) {
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  ul.yb li {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  ul.yb li:nth-child(even) {
    flex-direction: column;
  }

  ul.yb li p {
    width: 100%;
  }
  ul.yb li .txt {
    width: 100%;
  }
}

/**/

.yellow-trip > h3 {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  font-family: "SeoulNotice";
}

.trip {
  list-style: none;
  width: 1480px;
  height: 500px;
  margin: 50px auto;
  display: flex;
  gap: 16px;
}
.trip li {
  flex: 1; /*flex: flex-gro flex-shrink flex-basis*/
  height: 100%;
  border-radius: 12px;
  background-position: center;
  transition: 1s;
}
.trip li:hover {
  flex: 2;
}

.trip li:nth-child(1) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_1.jpg);
}
.trip li:nth-child(2) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_2.jpg);
}
.trip li:nth-child(3) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_3.jpg);
}
.trip li:nth-child(4) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_4.jpg);
}
.trip li:nth-child(5) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_5.jpg);
}
.trip li:nth-child(6) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_6.jpg);
}
.trip li:nth-child(7) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_7.jpg);
}
.trip li:nth-child(8) {
  background-image: url(https://company.ybtour.co.kr/images/bg/bg_category_8.jpg);
}
