@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url(../webfonts/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url(../webfonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: "SourceSansPro-Semibold.";
  src: url(../webfonts/SourceSansPro-Semibold.ttf);
}

@font-face {
  font-family: "SourceSansPro-Black";
  src: url(../webfonts/SourceSansPro-Black.ttf);
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.full-page-section {
  height: 100vh;
  background: #f3e5d2;
  position: relative;
  padding: 0 5%;
  overflow: hidden;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px 5%;
}

.logo {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  font-family: "SourceSansPro-Bold", sans-serif;
}

.main-nav ul {
  display: flex;
  gap: 40px;
}

.main-nav a {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-weight: 400;
  font-family: "SourceSansPro-Regular", sans-serif;
}

.portfolio-title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.portfolio-text {
  color: #000000;
  font-family: "Raleway-BoldItalic", sans-serif;
  font-size: 15vw;
  font-weight: 700;
  font-style: italic;
  position: relative;
  z-index: 2;
  line-height: 1;
}

.portfolio-decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse {
  position: absolute;
  width: 70vw;
  height: 26vw;

  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  top: 50%;
  left: 50%;
}

.ellipse-1 {
  transform: translate(-52%, -55%) rotate(-10deg);
}

.ellipse-2 {
  transform: translate(-48%, -45%) rotate(-10deg);
}

.star {
  position: absolute;
  width: 40px;
  height: 40px;
}

.vector-top {
  top: 28%;
  left: 32%;
}

.vector-bottom {
  bottom: 28%;
  right: 32%;
}

.portfolio-text {
  color: #000000;
  font-family: "Raleway-BoldItalic", sans-serif;
  font-size: 15vw;
  font-weight: 700;
  position: relative;
  z-index: 2;
  line-height: 1;
  letter-spacing: -0.02em;
}

@media (max-width: 768px) {
  /* ... (헤더 부분은 그대로 유지) ... */
  .main-header {
    padding: 20px 4%;
  }
  .logo {
    font-size: 24px;
  }
  .main-nav ul {
    gap: 20px;
  }
  .main-nav a {
    font-size: 12px;
    letter-spacing: 0.2em;
  }
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    padding-top: 30px;
  }
  .main-nav {
    margin-top: 15px;
  }
  .main-nav ul {
    gap: 15px;
  }

  .portfolio-text {
    font-size: 18vw;
  }

  .ellipse {
    width: 85vw;
    height: 35vw;
  }

  .vector-top {
    top: 35%;
    left: 15%;
  }

  .vector-bottom {
    bottom: 35%;
    right: 15%;
  }
}

/* .project2 {
  position: absolute;
  inset: 0;
}
.project3 {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.3em;
  font-weight: 600;
  position: absolute;
  right: 81.77%;
  left: 8.59%;
  width: 9.64%;
  bottom: 73.75%;
  top: 25.37%;
  height: 0.88%;
}
._1 {
  width: 444.29px;
  height: 510.92px;
  position: absolute;
  left: 210px;
  top: 1271px;
  overflow: visible;
}
._2 {
  width: 444.29px;
  height: 510.92px;
  position: absolute;
  left: 738px;
  top: 1271px;
  overflow: visible;
}
._3 {
  width: 444.29px;
  height: 510.92px;
  position: absolute;
  left: 1266px;
  top: 1271px;
  overflow: visible;
}
._01 {
  width: 416px;
  height: 244px;
  position: static;
}
.lush {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 224px;
  top: 1840px;
  width: 399px;
}
.html-css {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Light", sans-serif;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: -0.03em;
  font-weight: 300;
  position: absolute;
  left: 241px;
  top: 1909px;
  width: 399px;
}
._02 {
  width: 416px;
  height: 174px;
  position: static;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 752px;
  top: 1840px;
  width: 399px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Light", sans-serif;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: -0.03em;
  font-weight: 300;
  position: absolute;
  left: 769px;
  top: 1909px;
  width: 399px;
}
._03 {
  width: 416px;
  height: 174px;
  position: static;
}
.div3 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 1289px;
  top: 1840px;
  width: 399px;
}
.ui {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Light", sans-serif;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: -0.03em;
  font-weight: 300;
  position: absolute;
  left: 1306px;
  top: 1909px;
  width: 399px;
}
.about-me2 {
  position: absolute;
  inset: 0;
}
.about-me3 {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.3em;
  font-weight: 600;
  position: absolute;
  right: 80.89%;
  left: 8.54%;
  width: 10.57%;
  bottom: 48.73%;
  top: 50.39%;
  height: 0.88%;
}
.div4 {
  width: 389px;
  height: 407px;
  position: static;
}
.div5 {
  width: 389px;
  height: 407px;
  position: absolute;
  left: 349px;
  top: 2386px;
  overflow: hidden;
}
.vector3 {
  width: 62.47%;
  height: 59.71%;
  position: absolute;
  right: 25.96%;
  left: 11.57%;
  bottom: 13.27%;
  top: 27.03%;
  overflow: visible;
}
.vector4 {
  width: 92.61%;
  height: 29.61%;
  position: absolute;
  right: 13.14%;
  left: -5.75%;
  bottom: 7.09%;
  top: 63.3%;
  transform: translate(22.54px, -113.02px);
  overflow: visible;
}
.div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  right: 43.96%;
  left: 29.31%;
  width: 26.74%;
  bottom: 38.57%;
  top: 52.58%;
  height: 8.85%;
}
._22 {
  width: 1.46%;
  height: 0.65%;
  position: absolute;
  right: 79.01%;
  left: 19.53%;
  bottom: 35.44%;
  top: 63.91%;
  overflow: visible;
}
._12 {
  width: 2.81%;
  height: 1.25%;
  position: absolute;
  right: 64.79%;
  left: 32.4%;
  bottom: 41.88%;
  top: 56.88%;
  overflow: visible;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 966px;
  top: 2362px;
}
.copo-34-naver-com {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 2398px;
}
._2007-2 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 2534px;
}
._2013-12 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 2701px;
}
._2-2019-10 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 2736px;
}
.excel {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 2864px;
}
.ui-ux-2025-12-18 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 2575px;
}
.education {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 966px;
  top: 2489px;
}
.certifications {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 966px;
  top: 2662px;
}
.tool {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 966px;
  top: 2824px;
}
.contact2 {
  position: absolute;
  inset: 0;
}
.thank-you {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 300px;
  font-weight: 900;
  position: absolute;
  left: 205px;
  top: 3513px;
}
._010-3462-9492 {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 100px;
  font-weight: 900;
  position: absolute;
  left: 1052px;
  top: 4028px;
}
.contact3 {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.3em;
  font-weight: 600;
  position: absolute;
  right: 81.3%;
  left: 8.54%;
  width: 10.16%;
  bottom: 23.75%;
  top: 75.37%;
  height: 0.88%;
}
.ellipse-3 {
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 744px;
  height: 744px;
  position: absolute;
  left: 1532px;
  top: 1858px;
}
.rectangle-1 {
  background: #000000;
  width: 1914px;
  height: 1002px;
  position: absolute;
  left: 6px;
  top: 2230px;
}
.layer-1 {
  width: 431px;
  height: 430px;
  position: absolute;
  left: 0px;
  top: 2811.44px;
  overflow: visible;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 77.6%;
  height: 0%;
  position: absolute;
  right: 0%;
  left: 22.4%;
  bottom: 29.93%;
  top: 70.07%;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 30.78%;
  height: 0%;
  position: absolute;
  right: 57.97%;
  left: 11.25%;
  bottom: 34.7%;
  top: 65.3%;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.layer-12 {
  width: 91px;
  height: 101px;
  position: absolute;
  left: 1546px;
  top: 2372px;
  overflow: visible;
} */
