@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: " Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro-Regula";
  src: url("../webfonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../webfonts/SourceSansPro-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Pretendard", sans-serif;
}

.home-page,
.home-page * {
  box-sizing: border-box;
}
.home-page {
  background: #f3e5d2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f3e5d2;
}
.top-content {
  padding: 0px 5% 0px 5%; /* 유연한 % 패딩으로 변경 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  /* height: 53px;*/
  height: auto;
  position: relative;
}
.lee-yoing-suk {
  color: #000000;
  text-align: right;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
  position: relative;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 172px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 12px;
  position: relative;
}
.project {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-weight: 400;
  position: relative;
}
.about-me {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-weight: 400;
  position: relative;
}
._1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.visual {
  padding-top: 80px;
  /* padding: 0px 0px 0px 125px; */
  flex-shrink: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.visual-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 814.13px; */
  height: auto;
  position: absolute;
  left: calc(50% - 382px);
  top: calc(50% - 284px);
  overflow: visible;
}
.portfolio {
  color: #000000;
  text-align: left;
  font-family: "Raleway-BoldItalic", sans-serif;
  font-size: 300px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 207px);
}
.project-section {
  display: flex;
  flex-direction: column;
  gap: 121px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
}
.section-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.text-container {
  padding: 0px 0px 0px 165px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.project2 {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.3em;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.card-list {
  display: flex;
  flex-direction: row;
  gap: 106px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.project-card-1 {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 444.28px;
  position: relative;
}
.thumbnail {
  flex-shrink: 0;
  /* width: 444.28px; */
  height: 510.42px;
  position: relative;
  overflow: visible;
}
.lush {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.html-css {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Light", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.05em;
  font-weight: 300;
  position: relative;
  width: 399px;
}
.project-card-2 {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 444.28px; */
  position: relative;
}
.thumbnail2 {
  flex-shrink: 0;
  width: 444.28px;
  height: 510.42px;
  position: relative;
  overflow: visible;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.ui {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Light", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.05em;
  font-weight: 300;
  position: relative;
  width: 399px;
}
.project-card-3 {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 444.28px;
  position: relative;
}
.thumbnail3 {
  flex-shrink: 0;
  width: 444.28px;
  height: 510.42px;
  position: relative;
  overflow: visible;
}
.about-section {
  display: flex;
  flex-direction: column;
  gap: 142px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  height: 1020px;
  position: relative;
}
.star {
  flex-shrink: 0;
  width: 431px;
  height: 430px;
  position: absolute;
  left: calc(50% - 960px);
  top: calc(50% - -144px);
  overflow: visible;
}
.w-line {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 1490px;
  height: 0px;
  position: absolute;
  left: calc(50% - 532px);
  top: calc(50% - -360px);
}
.h-line {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 601px;
  height: 0px;
  position: absolute;
  left: calc(50% - 744px);
  top: calc(50% - -166px);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.flower {
  flex-shrink: 0;
  width: 91px;
  height: 101.01px;
  position: absolute;
  left: calc(50% - -584px);
  top: calc(50% - 283px);
  overflow: visible;
}
.mask-group {
  flex-shrink: 0;
  width: 744px;
  height: 744px;
  position: absolute;
  left: calc(50% - -569px);
  top: calc(50% - 812px);
  overflow: visible;
}
.section-title2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 70px;
  position: relative;
}
.about-me2 {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.3em;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1320px;
  position: relative;
}
.image-group {
  flex-shrink: 0;
  width: 464px;
  height: 496px;
  position: relative;
  overflow: visible;
}
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 694px;
  position: relative;
}
.info-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.copo-34-naver-com {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  letter-spacing: -1px;
}
.edu-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.education {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
._2007-2 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  letter-spacing: -1px;
}
.ui-ux-2025-12-18 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  position: relative;
  align-self: stretch;
}
.cert-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.certifications {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
._2013-12 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  position: relative;
  align-self: stretch;
}
._2-2019-10 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  position: relative;
  align-self: stretch;
}
.tool-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tool {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.excel {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  position: relative;
  align-self: stretch;
}
.footer {
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 119px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  min-height: 500px;
  position: relative;
}
.section-title3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 149px;
  position: relative;
}
.contact2 {
  color: #000000;
  text-align: left;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.3em;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.thank-you {
  color: #000000;
  text-align: center;
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 300px;
  font-weight: 900;
  position: relative;
  align-self: stretch;
}
._010-3462-9492 {
  color: #000000;
  text-align: right;
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 100px;
  font-weight: 900;
  position: relative;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .top-content {
    padding: 0px 30px;
  }
  .menu {
    gap: 40px;
  }
  .main-content {
    width: 90%;
  }
  .portfolio {
    font-size: 25vw;
    top: 35%;
  }
  .card-list {
    gap: 3%;
  }
}

@media screen and (max-width: 767px) {
  .html-css,
  .ui {
    margin-bottom: 40px;
  }
  .top-content {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    height: auto;
  }
  .menu {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
  }
  .lee-yoing-suk a {
    font-size: 20px;
  }
  .visual {
    padding-top: 200px;
    min-height: 80vh;
  }
  .visual-1 {
    display: block;
    width: 90vw;
    height: auto;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    max-width: none;
  }
  .portfolio {
    font-size: 20vw;
    position: absolute;
    top: 50%;
  }
  .project-section {
    gap: 50px;
  }
  .card-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 auto;
  }
  .project-card-1,
  .project-card-2,
  .project-card-3 {
    width: 100%;
    align-items: center;
  }
  .html-css,
  .ui {
    width: 95%;
  }

  .main-content {
    flex-direction: column;
    width: 90%;
    padding: 0 20px;
    gap: 40px;
  }

  .image-group {
    width: 80%;
    height: auto;
    order: -1;
    margin-bottom: 20px;
  }
  .profile-info {
    width: 100%;
    padding: 0 10px;
    gap: 30px;
  }

  .star,
  .w-line,
  .h-line,
  .flower,
  .mask-group {
    display: none;
  }

  .thank-you {
    font-size: 20vw;
    margin-top: -100px;
  }
  ._010-3462-9492 {
    font-size: 8vw;
    text-align: center;
    margin-bottom: -1000px;
  }

  .info-block,
  .edu-block,
  .cert-block,
  .tool-block {
    margin-top: 1px;
    margin-bottom: 20px;
  }

  .about-section {
    padding-bottom: 80px;
    gap: 50px;
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  .project2,
  .about-me2,
  .contact2 {
    text-align: center;
    width: 100%;
  }
}
